.play-btn {
  color: #3F9BEC;
  width: 200px;
  height: 200px;
  font-size: 200px;
  cursor: pointer;
}

.play-btn:hover {
  color: #3044F2;
}

.lobby {
  margin-top: 20px;
  width: 500px;
}

.title {
  font-size: 20px;
  font-weight: 900;
}

.player-name {
  font-size: 14px;
  font-weight: 600;
}
