.controller mat-icon {
  color: #3F9BEC;
  width: 150px;
  height: 150px;
  font-size: 150px;
}

.controller-container {
  padding: 20px 20px;
}

.actions mat-icon {
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.name {
  font-size: 50px;
  font-weight: 900;
}
